.paragraph {
    position: relative;
    max-width: $content-max-width;
    margin: 0 auto;
    background-color: #fff;
    border-width: 0 1px;
    border-style: solid;
    border-color: #e2e0d7;

    &__content {
        margin: 0 40px;
    }

    &--extra {
        &--green-texture {
            background: $green url(../images/green-painted.jpg) no-repeat 0 0;
            background-size: cover;

            .paragraph--type--three-col {
                color: #fff;

                &__first-col,
                &__second-col {
                    border-right: 1px solid #387b46;
                }

                &__field {
                    &-three-col-title {
                        color: #fff;

                        & > div:after {
                            border-bottom-color: #fff;
                        }
                    }

                    &-first-col-text,
                    &-second-col-text,
                    &-third-col-text {
                        color: #fff;
                        max-width: 175px;
                        margin: 0 auto;
                    }
                }
            }
        }

        &--paper-texture {
            background: #fffde8 url(../images/paper-texture.jpg) no-repeat 0 0;
            background-size: cover;
        }

        &--light-khaki {
            background-color: #efede4;

            .paragraph--type--three-col {
                &__first-col,
                &__second-col,
                &__third-col {
                    border: none;
                }

                &__field {
                    &-first-col-title,
                    &-second-col-title,
                    &-third-col-title {
                        color: rgba(0, 0, 0, 0.7);

                        & > div:after {
                            border-bottom: none;
                        }
                    }

                    &-first-col-image,
                    &-second-col-image,
                    &-third-col-image {
                        $size: 165px;
                        width: $size;
                        height: $size;
                        margin: 0 auto 40px auto;
                        border-radius: $size / 2;
                        border: 3px solid $green;
                        overflow: hidden;
                    }
                }
            }
        }

        &--green {
            &.paragraph--type--feature-image-and-text {
                background-color: $green;
            }

            .paragraph--type--feature-image-and-text {
                &__field {
                    &-feature-title,
                    &-text,
                    &-button,
                    &-button a {
                        color: #fff;
                    }

                    &-feature-title {
                        margin-top: 70px;
                        margin-bottom: 15px;
                        font-size: 38px;

                        & > div:after {
                        }
                    }

                    &-text {
                    }

                    &-button a {
                        border-color: #fff;
                    }
                }
            }
        }
    }

    &--type {
        &--feature-text {
            padding: 50px 0;
            background-color: #fffde8;
            text-align: center;

            &__field {
                &-title {
                    @extend %title;
                }

                &-feature-text {
                    @extend %feature-text;
                    margin-bottom: 35px;

                    p {
                        margin: 0;
                    }
                }

                &-first-button,
                &-second-button {
                    display: inline-block;
                    margin: 10px 10px 0 10px;
                }

                &-first-button a {
                    @extend %primary-button;
                }

                &-second-button a {
                    @extend %secondary-button;
                }
            }
        }

        &--feature-image {
            $height: 426px;
            position: relative;
            height: $height;

            .paragraph__content {
                margin: 0;
            }

            &__field {
                &-feature-image {
                    height: $height;
                    overflow: hidden;

                    img {
                        position: relative;
                        left: 50%;
                        min-height: $height;
                        min-width: 100%;
                        object-fit: cover;
                        transform: translateX(-50%);
                    }
                }

                &-overlay-title {
                    @extend %title;
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    color: #fff;
                    font-size: 42px;
                    text-align: center;
                    transform: translateY(-50%);

                    & > div:after {
                        border-bottom-color: #fff;
                    }
                }
            }
        }

        &--location-and-times {
            background-color: $green;
            color: #fff;

            .paragraph__content {
                position: relative;
                overflow: auto;
            }

            &__location {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 50%;
                margin: 40px 15px 40px 35px;
                padding: 60px 55px 60px 35px;
                background: transparent url(../images/icons/location.svg) no-repeat 60px 0;
                border-right: 1px solid #63934d;
            }

            &__times {
                float: left;
                margin-left: 310px;
                    padding: 100px 70px;
                background: transparent url(../images/icons/clock.svg) no-repeat 110px 40px;
            }

            &__field {
                &-map {
                    float: left;
                    width: 50%;

                    iframe {
                        width: 100%;
                        height: $section-height;
                        vertical-align: bottom;
                    }
                }

                &-time-title,
                &-location-title {
                    @extend %title;
                    margin-top: 0;
                    margin-bottom: 20px;
                    color: #d1e8ca;

                    & > div:after {
                        margin: 15px auto 0 10px;
                    }
                }

                &-location {
                    max-width: 170px;
                }

                &-time-1,
                &-time-2 {
                    font-size: 26px;
                    font-weight: bold;
                }

                &-description-1 {
                    margin-bottom: 40px;
                }

                &-description-1,
                &-description-2 {
                    max-width: 190px;
                }
            }
        }

        &--feature-image-and-text {
            $height: 426px;
            overflow: auto;

            .paragraph__content {
                margin: 0;
            }

            &__field {
                &-image {
                    float: left;
                    width: 50%;
                    height: $height;
                    margin-right: 80px;
                    overflow: hidden;

                    img {
                        min-height: $height;
                        min-width: 100%;
                        object-fit: cover;
                    }
                }

                &-feature-title,
                &-text,
                &-button {
                    float: left;
                    width: calc(50% - 80px);
                }

                &-feature-title {
                    @extend %title;
                    margin-top: 20px;
                    margin-bottom: 25px;
                    font-size: 42px;

                    & > div:after {
                        margin-left: 10px;
                    }
                }

                &-text {
                    max-width: 350px;
                    margin-bottom: 25px;
                }

                &-button a {
                    @extend %secondary-button;
                }
            }
        }

        &--three-col {
            padding: 50px 0 100px 0;
            text-align: center;

            .paragraph__content {
                margin: 0 15px;
            }

            &__cols {
                overflow: auto;
            }

            &__first-col,
            &__second-col,
            &__third-col {
                float: left;
                width: calc(33.333% - 31px);
                padding: 0 15px;
            }

            &__field {
                &-three-col-title {
                    @extend %title;
                    font-size: 50px;
                    font-weight: 400;
                    margin-bottom: 42px;

                    & > div:after {
                        border-bottom: none;
                    }
                }

                &-first-col-image,
                &-second-col-image,
                &-third-col-image {
                    margin-bottom: 40px;
                }

                &-first-col-title,
                &-second-col-title,
                &-third-col-title {
                    @extend %small-title;
                    margin-bottom: 10px;
                }

                &-first-col-button,
                &-second-col-button,
                &-third-col-button {
                    margin-top: 26px;

                    a {
                        @extend %secondary-button;
                    }
                }

                &-section-button {
                    clear: both;
                    text-align: center;

                    a {
                        @extend %primary-button;
                        margin-top: 70px;
                    }
                }
            }
        }

        &--feature-text-with-secondary {
            padding: 90px 0 100px 0;
            text-align: center;

            &__field {
                &-secondary-title {
                    @extend %title;
                    margin-bottom: 35px;
                    font-size: 50px;

                    & > div:after {
                        border-bottom: none;
                    }
                }

                &-secondary-feature-text {
                    @extend %feature-text;
                    margin: 0 114px 25px 114px;

                    p {
                        margin: 0;
                    }
                }

                &-secondary-text {
                    margin: 0 114px;
                    text-align: left;
                }
            }
        }

        &--thumbnail-and-description {
            padding: 90px 0 100px 0;
            color: #58595b;
            overflow: auto;

            .paragraph__content {
                margin: 0 60px;
            }

            &__field {
                &-thumbnail {
                    float: left;
                    margin-right: 40px;
                }

                &-thumbnail-title {
                    padding-top: 15px;
                    color: rgba(0, 0, 0, 0.7);
                    font-size: 28px;
                    font-weight: 900;
                }

                &-description {
                }
            }
        }
    }
}
