@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');
@import 'libs/normalize';

/* Colours */
$green: #63bc50;
$darker-green: #3f9250;
$light-green: #84c774;
$slightly-different-green: #70b674;


/* Spacing */
$content-max-width: 1000px;
$header-height: 90px;
$section-height: 550px;

@import 'mixins';
@import 'drupal';
@import 'layout';
@import 'paragraphs';
@import 'paragraphs-responsive';
@import 'homepage';

/* Generic */
body {
    font-family: 'Lato', sans-serif;
    position: relative;
    background: #fffde8 url(../images/second-level-bg.jpg) repeat-y 0 0;
    background-size: 100% auto;
}

a {
    text-decoration: none;
    color: $green;
}

.version {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.5);

        &:after {
            content: '0.5';
            margin-left: 10px;
            padding-left: 10px;
            border-left: 1px solid rgba(0, 0, 0, 0.5);
        }
    }
}
