{% block content %}
    <div class="hamburger">
        <div class="toggle"></div>
        <div class="menu">
            {% include 'core/themes/stable/templates/block/block--system-menu-block.html.twig' %}
        </div>
    </div>
{% endblock %}
